<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Jacque Thomas</title>
    <meta charset="utf-8">
  </head>
</html>


<div class="container-fluid center p-5 helvetica">
  <h1><%= @blurb.title %></h1>
</div>
<div class="container-fluid p-5 bg-dark text-light">
  <p><%= simple_format(@blurb.body) %></p>
</div>

<ul>
  <li><%= link_to "Edit", edit_blurb_path(@blurb) %></li>
  <li><%= link_to "Destroy", blurb_path(@blurb),
                  method: :delete,
                  data: {confirm: "Are you sure?" } %></li>
</ul>