<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Jacque Thomas</title>
    <meta charset="utf-8">
  </head>
</html>

<body>
<div class="container-fluid center p-5 helvetica">
  <h1><%= @blurb.title %></h1>
</div>
<div class="container-fluid p-5 bg-dark text-light">
  <%= link_to "<button>Edit</button>".html_safe, edit_blurb_path(@blurb) %>
  <%= link_to "<button>Destroy</button>".html_safe, blurb_path(@blurb),
                  method: :delete,
                  data: {confirm: "Are you sure?" } %><br>
  <p><%= simple_format(@blurb.body) %></p>
</div>
</body>
