
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Jacque Thomas</title>
    <meta charset="utf-8">
  </head>
</html>


<div class="container-fluid center p-5 helvetica">
  <h1>
  About Me
  <small class="text-muted">ethics-first developer</small>
  </h1>
</div>
<div class="container-fluid p-5 bg-dark text-light">
  <p><%= @blurb.body %></p>
</div>
