
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
  </head>
</html>


<div class="container-fluid pt-5 pb-3 bg-dark text-white">
  <h1>About Me</h1>
</div>
<div class="container-fluid pt-2 bg-primary text-white">
  <h4><%= @blurb.title %></h4>
  <p><%= @blurb.body %></p>
</div>
